.wrapper {
	display: flex;
}
.wrapper-horizontal {
	align-items: center;
	column-gap: 6px;
}
.wrapper-vertical {
	flex-direction: column;
	align-items: flex-start;
	row-gap: 5px;
}
.label {
	min-width: 46px;
}
.input,
.label {
	color: var(--text-color);
	font-family: var(--ds-font-sans-serif-medium);
	font-size: var(--ds-font-size-xs);
	font-weight: var(--ds-font-weight-regular);
	line-height: var(--ds-line-height-tight);
}
.input {
	padding: 3px 4px;
	height: 21px;
	box-shadow: var(--border-field);
	background-color: var(--background-color-white);
	width: 100%;
}
.input:focus {
	outline: none;
}
.input:disabled,
.input:disabled + .label {
	opacity: 0.8;
}
