.wrapper {
	display: flex;
}

.wrapper-horizontal {
	align-items: center;
	column-gap: 6px;
}

.wrapper-vertical {
	flex-direction: column;
	align-items: flex-start;
	row-gap: 5px;
}

.label {
	min-width: 46px;
}

.input,
.label {
  @include font('medium', 11, 14);
  color: var(--text-color);
}

.input {
	padding: 3px 4px;
	height: 21px;
	box-shadow: var(--border-field);
	background-color: var(--background-color-white);
	width: 100%;

	&:focus {
	  outline: none;
	}

	&:disabled,
	&:disabled + .label {
	  opacity: 0.8;
	}
}
