.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.sign {
    @include font('bold', 17, 17);
}

.variant-computer {
    // @TODO: Move this color during implementation panda css
    color: #0000ff;
}

.variant-human {
    // @TODO: Move this color during implementation panda css
    color: #fe0000;
}