.UIRange {
  display: flex;
  align-items: center;

  .label {
    @include font('medium', 11, 19);
    color: $cl-black22;
  }

  &.position-horizontal {
    .range {
      &::-webkit-slider-runnable-track {
        @include ui-range-track('horizontal');
      }

      &::-moz-range-track {
        @include ui-range-track('horizontal');
      }

      &::-webkit-slider-thumb {
        @include ui-range-thumb('horizontal');
      }

      &::-moz-range-thumb {
        @include ui-range-thumb('horizontal');
      }
    }

    .label {
      &.is-start {
        margin-right: 6px;
      }
      &.is-end {
        margin-left: 6px;
      }
    }
  }

  &.position-vertical {
    height: 130px;

    .range {
      transform: rotate(270deg) translateX(-50%);
      transform-origin: left;

      &::-webkit-slider-runnable-track {
        @include ui-range-track('vertical');
      }

      &::-moz-range-track {
        @include ui-range-track('vertical');
      }

      &::-webkit-slider-thumb {
        @include ui-range-thumb('vertical');
      }

      &::-moz-range-thumb {
        @include ui-range-thumb('vertical');
      }
    }

    .label {
      &.is-middle {
        margin-right: 15px;
      }
    }
  }
}
