$cl-black: #000000;
$cl-black0A: #0a0a0a;
$cl-black22: #222222;
$cl-blue00: #0000ff;
$cl-blue000: #000080;
$cl-blue10: #1084d0;
$cl-blue007: #007b7b;
$cl-blue0f: #0f0f81;
$cl-blue33: #330099;
$cl-grey80: #808080;
$cl-grey9b: #9b9b9b;
$cl-grey3b: #3b3b3b;
$cl-greyA9: #a9a9a9;
$cl-greyb5: #b5b5b5;
$cl-greyC0: #c0c0c0;
$cl-greyDF: #dfdfdf;
$cl-red: #fe0000;
$cl-white: #ffffff;
