.UIModal {
  top: 0 !important;
  left: 0 !important;
  transform: inherit !important;
}

body,
.CalendarSettings {
  background-color: var(--background-color);
}

.cypress-button-small {
  @include font('medium', 11, 14);
  color: var(--text-color);
  padding: 5px;
  cursor: pointer;
}

.FileSave {
  position: static !important;
}

.Notepad {
  .FileSave {
    position: absolute !important;
    top: 50% !important;
    right: 50% !important;
    transform: translate(50%, -50%) !important;
  }
}

.Start {
  position: absolute;
  bottom: 0;
}
