.PulpitItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  .icon {
    margin-bottom: 6px;
  }

  .name {
    color: $cl-white;
    @include font('medium', 11, 13);
  }
}
