.Notepad {
  .content {
    padding: 2px;
    width: 100%;
    height: calc(100% - 40px);
  }

  .textarea {
    width: 100%;
    height: 100%;
  }

  .option {
    @include font('medium', 11, 14);
    color: var(--text-color);
    padding: 0 5px;
    cursor: pointer;
  }

  .file-save {
    z-index: 2;
  }
}
