.wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100vw;
  height: 28px;
  background-color: var(--background-color);
  border-top: 1px solid var(--border-color-navigation);
  outline: 1px solid var(--background-color);
  padding: 3px;

  & > *:first-child {
    margin-right: auto;
  }
}
