.StartPanelItem {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;

  &:hover {
    @include hover {
      background-color: $cl-blue33;

      & > .name {
        color: $cl-white;
      }

      & > .under-panel {
        display: block;
      }
    }
  }

  .name {
    color: $cl-black;
  }

  .under-panel {
    display: none;
  }

  &.s-medium {
    min-width: 135px;

    .icon {
      margin-right: 6px;
    }

    .name {
      @include font('medium', 11, 13);
    }
  }
}
