.StartPanelItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;

  &:hover {
    @include hover {
      background-color: $cl-blue33;

      .name {
        color: $cl-white;
      }
    }
  }

  .name {
    color: $cl-black;
  }

  &.s-medium {
    min-width: 135px;

    .icon {
      margin-right: 6px;
    }

    .name {
      @include font('medium', 11, 13);
    }
  }
}
