/** biome-ignore-all lint/complexity/noImportantStyles: TODO resolve these !important problem */
.button-start {
	font-family: var(--ds-font-sans-serif-bold) !important;
	font-size: 11px !important;
	line-height: 11px !important;
	column-gap: 4px !important;
	min-width: 55px !important;
	padding: 0 6px !important;
}
