.Run {
  .content {
    display: grid;
    grid-template-columns: 45px 85px 80px 85px;
    grid-template-rows: 45px 21px 19px 22px;
    padding: 21px 17px 9px;
  }

  .icon {
    grid-area: 1 / 1 / 2 / 3;
  }

  .description {
    grid-area: 1 / 2 / 2 / 5;
  }

  .input {
    grid-area: 2 / 1 / 2 / 5;
  }

  .button {
    width: 78px;

    &.is-ok {
      grid-area: 4 / 2 / 6 / 3;
    }

    &.is-cancel {
      grid-area: 4 / 3 / 6 / 4;
    }
  }
}
