.TimerModal {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  .content {
    display: grid;
    justify-content: center;
    align-items: center;
    height: calc(100% - 20px);
  }
}
