.frame {
	position: relative;
	border: 1px solid var(--border-color-frame-1);
	outline: 1px solid var(--border-color-frame-2);
	padding: 16px 10px;
	margin: 12px 9px;
}

.title {
	position: absolute;
	top: -7px;
	left: 7px;
	background-color: var(--background-color);
	padding: 0 3px;
}
