.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 20px;
	padding: 3px 2px 3px 3px;
	background: var(--background-color-modal-header);
}

.header > h3 {
	color: var(--text-color-2);
}
