.wrapper {
	height: calc(100% - 28px);
	margin: 5px;
}

.tab {
	padding: 5px;
	@include font('medium', 10, 10);
}

.active-tab {
	position: relative;
	z-index: 3;
}

.content {
	position: relative;
	z-index: 2;
	top: -2px;
	height: 100%;
}

.tab,
.content {
	box-shadow: var(--box-shadow-raised);
	color: var(--text-color);
}

.content-tab {
	display: none;
}

.active-content-tab {
	display: block;
}
