$ms-sans-serif-medium: 'MSSansSerifMedium';
$src-ms-sans-serif-medium: '/fonts/#{$ms-sans-serif-medium}';

@font-face {
  font-family: $ms-sans-serif-medium;
  src: url('#{$src-ms-sans-serif-medium}.woff') format('woff'),
    url('#{$src-ms-sans-serif-medium}.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$ms-sans-serif-bold: 'MSSansSerifBold';
$src-ms-sans-serif-bold: '/fonts/#{$ms-sans-serif-bold}';

@font-face {
  font-family: $ms-sans-serif-bold;
  src: url('#{$src-ms-sans-serif-bold}.woff') format('woff'),
    url('#{$src-ms-sans-serif-bold}.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
