.DSSelect {  
	&.label-position-left {
		display: grid;
		align-items: center;
  
		.label {
			margin-right: 6px;
		}
	}

	&.label-position-top {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-basis: 200px;
  
		.label {
			margin-bottom: 5px;
		}
	}
}

.label {
	// @TODO - resolve problem with scss in playwright
	// @include font('medium', 11, 14);
	color: var(--text-color);
  }

.select {
	position: relative;
	height: 21px;
	background: var(--background-color-white) url('/icons/select-button.svg')
		no-repeat top 2px right 2px;
	box-shadow: var(--border-field);
	padding: 5px 25px 5px 5px;
	color: var(--text-color);
	// @TODO - resolve problem with scss in playwright
	// @include font('medium', 11, 13);
}
  