.wrapper {
  position: relative;
}

.label {
  @include font('medium', 11, 14);
  color: var(--text-color);
}

.select {
  height: 21px;
  width: 100%;
  background: var(--background-color-white) url('/icons/select-button.svg')
    no-repeat top 2px right 2px;
  box-shadow: var(--border-field);
  padding: 5px 25px 5px 5px;
  color: var(--text-color);
  @include font('medium', 11, 13);
}

.arrow {
  position: absolute;
  right: 1px;
  top: 2px;
}
