td {
  padding: 5px;
}

table,
th,
td {
  @include font('medium', 12, 18);
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

thead > tr > th {
  font-family: $font-ms-sans-serif-bold;
}
