.TicTacToeChoosePlayer {
  display: grid;
  grid-template-columns: 40px 40px 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 10px;

  .title {
    grid-area: 1 / 1 / 2 / 4;
    margin-bottom: 5px;
  }
}
