.TicTacToePlayers {
  display: flex;
  margin-bottom: 15px;

  .player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px 5px;
    margin: 6px;
    @include font('bold', 17, 17);
  }
}
