.button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--ds-font-sans-serif-medium);
	font-size: var(--ds-font-size-xs);
	font-weight: var(--ds-font-weight-regular);
	line-height: var(--ds-line-height-tight);
	border: none;
	border-radius: var(--ds-border-radius-none);
	background-color: var(--ds-background-color-primary);
	color: var(--ds-text-color-primary);
	box-shadow: var(--ds-shadow-raised);

	&:hover {
		cursor: pointer;
	}

	&:disabled {
		pointer-events: none;
		opacity: 0.5;
	}

	&:not(:disabled):active {
		box-shadow: var(--ds-shadow-sunken);
	}
}

.size-small {
	width: 16px;
	height: 14px;
	padding: 1px;
}

.size-medium {
	height: 23px;
	min-width: 75px;
	padding: 0 12px;

	&:focus {
		outline: 1px dotted var(--ds-color-black100);
		outline-offset: -4px;
	}

	&:not(:disabled):active {
		padding: 2px 11px 0 13px;
	}
}
