.wrapper {
	height: calc(100% - 28px);
	margin: 5px;
	background-color: var(--background-color);
}

.tab {
	padding: 5px;
	font-family: var(--ds-font-sans-serif-medium);
	font-size: var(--ds-font-size-xs);
	font-weight: var(--ds-font-weight-regular);
	line-height: var(--ds-line-height-normal);
}

.tab-active {
	position: relative;
	z-index: 3;
}

.content {
	position: relative;
	z-index: 2;
	top: -2px;
	height: 100%;
	padding: 5px;
}

.tab,
.content {
	box-shadow: var(--box-shadow-raised);
	color: var(--text-color);
}

.content-tab {
	display: none;
}

.content-tab-active {
	display: block;
}
