.information {
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 20px);
  padding: 15px;
}

.title,
.text {
	@include font('medium', 11, 20);
}

.text {
	margin-left: 20px;
}

