.wrapper-horizontal {
	display: grid;
	align-items: center;
	column-gap: 6px;
}

.wrapper-vertical {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: var(--ds-spacing-xs);
	max-width: 200px;
}

.textarea,
.label {
	font-family: var(--ds-font-sans-serif-medium);
	font-size: var(--ds-font-size-xs);
	font-weight: var(--ds-font-weight-regular);
	line-height: var(--ds-line-height-tight);
	color: var(--ds-text-color-primary);
}

.textarea {
	padding: var(--ds-spacing-sm) var(--ds-spacing-md);
	box-shadow: var(--ds-border-field);
	background-color: var(--ds-background-color-primary);
	resize: none;

	&:disabled,
	&:disabled + .label,
	&[readonly],
	&[readonly] + .label {
		opacity: var(--ds-opacity-not-allowed);
		cursor: not-allowed;
	}

	&:focus {
		outline: none;
	}
}
