.button {
	display: flex;
	justify-content: center;
	align-items: center;
	@include font('medium', 11, 11);
	border: none;
	border-radius: 0;
	background-color: var(--background-color);
	color: var(--text-color);
	box-shadow: var(--box-shadow-raised);
	width: 35px;
	height: 30px;

	@include hover {
		cursor: pointer;
	}

	&:disabled {
		pointer-events: none;
		opacity: 0.5;
	}

	&:not(:disabled):active {
		box-shadow: var(--box-shadow-sunken);
	}
}

.blue {
	color: $cl-blue00;
}

.red {
	color: $cl-red;
}