.SettingsGeneral {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(6, 20px);
  padding: 15px;

  .image {
    grid-area: 1 / 1 / 7 / 2;
    width: 110px;
    height: 80px;
    margin: 20px auto 0;
  }

  .title,
  .text {
    @include font('medium', 11, 20);
  }

  .text {
    margin-left: 20px;
  }
}
