.Pulpit {
  width: 100vw;
  height: calc(100vh - 28px);
  background-color: var(--background-color-pulpit);
  padding: 1px;
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: repeat(auto-fill, 75px);
  grid-template-rows: repeat(auto-fill, 65px);
  grid-auto-flow: column;
}
