.StartPanelItem {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;

  .name {
    color: $cl-black;
  }

  .under-panel {
    display: none;
  }

  &:hover {
    @include hover {
      background-color: $cl-blue33;

      & > .name {
        color: var(--text-color-2);
      }

      & > .under-panel {
        display: block;
      }
    }
  }

  &.s-medium {
    min-width: 135px;

    .icon {
      margin-right: 6px;
    }
  }

  &.is-arrow {
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 4px solid $cl-black;
    }
  }
}
