.TicTacToeBoard {
  display: grid;
  justify-content: center;
  gap: 1px;

  &.is-blocked {
    opacity: 0.2;
    pointer-events: none;
  }

  .field {
    text-align: center;
    @include font('bold', 12, 30);

    &.is-player-x {
      color: $cl-red;
    }

    &.is-player-o {
      color: $cl-blue00;
    }
  }
}
