.TicTacToeScore {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  .content {
    display: grid;
    justify-content: center;
    margin: 10px;
  }

  .title {
    margin-bottom: 10px;
  }
}
