.UIButton {
  display: flex;
  justify-content: center;
  align-items: center;
  @include font('medium', 11, 11);
  border: none;
  border-radius: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: var(--box-shadow-raised);

  &:disabled {
    pointer-events: none;
  }

  &:not(:disabled):active {
    box-shadow: var(--box-shadow-sunken);
  }

  &.size-media-player {
    width: 22px;
    height: 22px;
  }

  &.size-calculator {
    width: 35px;
    height: 30px;
  }

  &.size-small {
    width: 16px;
    height: 14px;
    padding: 1px;
  }

  &.size-medium {
    height: 23px;
    min-width: 75px;
    padding: 0 12px;

    &:focus {
      outline: 1px dotted $cl-black;
      outline-offset: -4px;
    }

    &:not(:disabled):active {
      padding: 2px 11px 0 13px;
    }
  }
}
