.UIModal {
  .container {
    display: grid;
    grid-template-rows: 20px calc(100% - 16px);
    padding: 3px;
    min-height: 110px;
    min-width: 190px;
    max-width: 100%;
    max-height: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 3px 2px 3px 3px;
  }

  .title {
    @include font('bold', 11, 13);
  }

  .content {
    margin: 8px;
  }

  &.variant-primary {
    .container {
      background-color: $cl-greyC0;
      box-shadow: $border-raised-outer, $border-raised-inner;
    }

    .header {
      color: $cl-white;
      background: linear-gradient(90deg, $cl-blue000, $cl-blue10);
    }
  }

  &.resize-window {
    resize: both;
    overflow: auto;
  }

  &.move-window {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
