.UITextarea {
  .textarea,
  .label {
    @include font('medium', 11, 14);
  }

  .textarea {
    padding: 3px 4px;

    &:focus {
      outline: none;
    }
  }

  &.label-position-left {
    .label {
      margin-right: 6px;
    }
  }

  &.label-position-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .label {
      margin-bottom: 5px;
    }
  }

  &.type-notepad {
    .textarea {
      width: 100%;
      height: 100%;
      @include font('medium', 14, 18);
      letter-spacing: 1px;
      padding: 5px;
      resize: none;
    }
  }

  &.variant-primary {
    .textarea,
    .label {
      color: $cl-black22;
    }

    .textarea {
      box-shadow: $border-field-inner, $border-field-outer;
      background-color: $cl-white;

      &:disabled,
      &:read-only {
        background-color: $cl-greyC0;
      }

      &:disabled,
      &:disabled + .label,
      &[readonly],
      &[readonly] + .label {
        color: $cl-grey80;
      }
    }
  }
}
