.CalculatorKeyboard {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3, 30px);
  grid-template-columns: repeat(4, 35px);
  padding: 13px 10px 10px;
  gap: 1px;

  .color-blue {
    color: $cl-blue00;
  }

  .color-red {
    color: $cl-red;
  }
}
